header,footer{  
        padding: 3px;
        text-align: center;
        background:#d7de57; 
}

#title-1{
    font-size: 10px;
    text-transform: capitalize; 
    text-align: center;
    margin: 15px;
}

/* Navigaation or Menue List*/

.menu-List{
    padding: 15px;
}

.menu-List li {
display: inline-block;
margin-right: 15px;
}

.menu-List li a {
    color: white;
    text-decoration:none ;
    padding: 3px; 
}

.active{   
    border-bottom:3px solid red ;
}

main{
 
    padding:0px 50px 0px 50px;
}


body{
    
    font-family:"Inconsolata";
    line-height: 160%;
    margin: 0 0 150px 0;

}

.page-section{
margin: 30px auto;
padding: 30px;
border-radius: 5px;

}

.Introduction{
    background-color:rgb(88, 88, 163);
    margin: 30px auto ;
    padding: 30px;
    border-radius: 5px;
    
}


.tech-1{
    background-color: rgb(11, 13, 72);
    right: px;
    bottom: 0px;
}

.tech-2{
    background-color:  rgb(91, 91, 91);
}

.tech-3{
    background-color: rgb(79, 43, 43);
}

.tech-4{
    background-color:  rgb(91, 91, 91);
}

.tech-5{
    background-color: rgb(44, 51, 56);
}

.photo{
   float: right;
}

.meters{
    background-color: black;
    color: white;
}

.progress{
background-color:purple;
color: white;
}

/*Table Css*/
table,td,th{
border: 1px solid rgb(135, 80, 236);
border-collapse: collapse;

}

table{
    width: 50%;
    margin: 50 auto;
}
thead{
    background-color: rgb(135, 80, 236) ;
    color: white;
}

.detail-summary{
    background-color: rgb(255, 213, 0);
}

.code-formatting{
    background-color: brown;
    color: white;
}

.address{
    background-color: green;
    color: white;
}

h1{
    margin: 10px ;
    text-transform: uppercase; 

}
img{
    width: 10%;
}

.video-wrapper{
text-align: center;
background-color: #0077B5;
border-radius: 10px;
width: 80%;
}

video{
    text-align: center;
    width: 80%;
}

.audio {
    margin: 25px auto;
    border-radius: 10px;
}

.audio h2{
    margin:5px ;
    font-weight: 500;
}

/* id for specific or unique */
#CSET{
    color: rgb(87, 163, 87);
    font-size: 60px;
    padding: 10px;
    
}

#ACADEMY{
    color: rgb(195, 107, 107);
    font-size: 60px;
    padding: 10px;
}


#Libraris{
    padding: 30px;
    background-color:rgb(185, 131, 31) ;
}


    /* Display property*/
.Tec{
       
        width: 150px;
        height: 150px;
        text-align: center;
        line-height: 150px;
        position: absolute;
        left: 450px;
        top: 150px;   
    }
  


/* Sticky Position
stops by making top:0; */

.sticky{
   position: sticky;
   top: 0; 
}

/* over flow */

html{
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
}

/* Footer Css*/
footer{
    position: absolute;
    bottom:0;
    width: 100%;
    padding: 2px;
}

.fa-github{
    color: #171515 ;
}

.fa-linkedin{
   color: #0077B5 ;
}
.fa-twitter{
    color:#1DA1F2 ;
}

.Copyright{
    color: black;
}

/*Application page Css*/

form{
    width: 55%;
}

.form-group{
    margin: 10px auto;
    color: black;
}

input[type='Text'],
input[type='Date'],
input[type='Email'],textarea,select{
 display: block;
 padding: 10px;
 width:60%;
 border-radius: 10px;
 border: 2px solid rgba(171, 102, 102, 0.52);
 margin-top: 3px;
}
input[type='Text']:hover,
input[type='Date']:hover,
input[type='Email']:hover,
textarea:hover,
select:hover{

border: 2px solid red;
}

.btn{
    padding: 10px 15px;
    background-color: rgb(79, 223, 79);
    color: white;
    border: 2px solid ;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 900;
    text-transform: uppercase;
}
